<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>barrio</key>
		<string>Agronomia</string>
		<key>comuna</key>
		<string>15</string>
		<key>poblacion_total</key>
		<string>13912</string>
		<key>hombres</key>
		<string>6508</string>
		<key>mujeres</key>
		<string>7404</string>
		<key>latitude</key>
		<string>-34.59224458</string>
		<key>longitude</key>
		<string>-58.48839515</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>104</string>
		<key>arboles_por_barrio</key>
		<string>3194</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Almagro</string>
		<key>comuna</key>
		<string>5</string>
		<key>poblacion_total</key>
		<string>131699</string>
		<key>hombres</key>
		<string>58871</string>
		<key>mujeres</key>
		<string>72828</string>
		<key>latitude</key>
		<string>-34.60989367</string>
		<key>longitude</key>
		<string>-58.42246328</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>253</string>
		<key>arboles_por_barrio</key>
		<string>8248</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Balvanera</string>
		<key>comuna</key>
		<string>3</string>
		<key>poblacion_total</key>
		<string>138926</string>
		<key>hombres</key>
		<string>63273</string>
		<key>mujeres</key>
		<string>75653</string>
		<key>latitude</key>
		<string>-34.60932271</string>
		<key>longitude</key>
		<string>-58.40326817</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>256</string>
		<key>arboles_por_barrio</key>
		<string>7635</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Barracas</string>
		<key>comuna</key>
		<string>4</string>
		<key>poblacion_total</key>
		<string>89452</string>
		<key>hombres</key>
		<string>42737</string>
		<key>mujeres</key>
		<string>46715</string>
		<key>latitude</key>
		<string>-34.64457555</string>
		<key>longitude</key>
		<string>-58.38291695</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>369</string>
		<key>arboles_por_barrio</key>
		<string>10132</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Belgrano</string>
		<key>comuna</key>
		<string>13</string>
		<key>poblacion_total</key>
		<string>126831</string>
		<key>hombres</key>
		<string>56473</string>
		<key>mujeres</key>
		<string>70358</string>
		<key>latitude</key>
		<string>-34.55326787</string>
		<key>longitude</key>
		<string>-58.44645213</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>426</string>
		<key>arboles_por_barrio</key>
		<string>13991</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Boca</string>
		<key>comuna</key>
		<string>4</string>
		<key>poblacion_total</key>
		<string>45113</string>
		<key>hombres</key>
		<string>21305</string>
		<key>mujeres</key>
		<string>23808</string>
		<key>latitude</key>
		<string>-34.63388769</string>
		<key>longitude</key>
		<string>-58.36152939</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>226</string>
		<key>arboles_por_barrio</key>
		<string>5473</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Boedo</string>
		<key>comuna</key>
		<string>5</string>
		<key>poblacion_total</key>
		<string>47306</string>
		<key>hombres</key>
		<string>21935</string>
		<key>mujeres</key>
		<string>25371</string>
		<key>latitude</key>
		<string>-34.63042136</string>
		<key>longitude</key>
		<string>-58.41888071</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>182</string>
		<key>arboles_por_barrio</key>
		<string>6369</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Caballito</string>
		<key>comuna</key>
		<string>6</string>
		<key>poblacion_total</key>
		<string>176076</string>
		<key>hombres</key>
		<string>78870</string>
		<key>mujeres</key>
		<string>97206</string>
		<key>latitude</key>
		<string>-34.61665628</string>
		<key>longitude</key>
		<string>-58.4435325</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>468</string>
		<key>arboles_por_barrio</key>
		<string>15660</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Chacarita</string>
		<key>comuna</key>
		<string>15</string>
		<key>poblacion_total</key>
		<string>27761</string>
		<key>hombres</key>
		<string>13083</string>
		<key>mujeres</key>
		<string>14678</string>
		<key>latitude</key>
		<string>-34.58806471</string>
		<key>longitude</key>
		<string>-58.45180209</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>154</string>
		<key>arboles_por_barrio</key>
		<string>5426</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Coghlan</string>
		<key>comuna</key>
		<string>12</string>
		<key>poblacion_total</key>
		<string>18604</string>
		<key>hombres</key>
		<string>8607</string>
		<key>mujeres</key>
		<string>9997</string>
		<key>latitude</key>
		<string>-34.56019148</string>
		<key>longitude</key>
		<string>-58.47541806</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>113</string>
		<key>arboles_por_barrio</key>
		<string>3751</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Colegiales</string>
		<key>comuna</key>
		<string>13</string>
		<key>poblacion_total</key>
		<string>52551</string>
		<key>hombres</key>
		<string>23514</string>
		<key>mujeres</key>
		<string>29037</string>
		<key>latitude</key>
		<string>-34.57463957</string>
		<key>longitude</key>
		<string>-58.45310388</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>171</string>
		<key>arboles_por_barrio</key>
		<string>6089</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Constitucion</string>
		<key>comuna</key>
		<string>1</string>
		<key>poblacion_total</key>
		<string>44107</string>
		<key>hombres</key>
		<string>20666</string>
		<key>mujeres</key>
		<string>23441</string>
		<key>latitude</key>
		<string>-34.62578836</string>
		<key>longitude</key>
		<string>-58.38386431</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>133</string>
		<key>arboles_por_barrio</key>
		<string>3599</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Flores</string>
		<key>comuna</key>
		<string>7</string>
		<key>poblacion_total</key>
		<string>164310</string>
		<key>hombres</key>
		<string>76326</string>
		<key>mujeres</key>
		<string>87984</string>
		<key>latitude</key>
		<string>-34.63534602</string>
		<key>longitude</key>
		<string>-58.46218737</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>566</string>
		<key>arboles_por_barrio</key>
		<string>15278</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Floresta</string>
		<key>comuna</key>
		<string>10</string>
		<key>poblacion_total</key>
		<string>37575</string>
		<key>hombres</key>
		<string>17325</string>
		<key>mujeres</key>
		<string>20250</string>
		<key>latitude</key>
		<string>-34.62783152</string>
		<key>longitude</key>
		<string>-58.4826783</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>203</string>
		<key>arboles_por_barrio</key>
		<string>6114</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Liniers</string>
		<key>comuna</key>
		<string>9</string>
		<key>poblacion_total</key>
		<string>44132</string>
		<key>hombres</key>
		<string>20395</string>
		<key>mujeres</key>
		<string>23737</string>
		<key>latitude</key>
		<string>-34.64484452</string>
		<key>longitude</key>
		<string>-58.51663577</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>385</string>
		<key>arboles_por_barrio</key>
		<string>10597</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Mataderos</string>
		<key>comuna</key>
		<string>9</string>
		<key>poblacion_total</key>
		<string>64436</string>
		<key>hombres</key>
		<string>30424</string>
		<key>mujeres</key>
		<string>34012</string>
		<key>latitude</key>
		<string>-34.65895902</string>
		<key>longitude</key>
		<string>-58.50177391</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>520</string>
		<key>arboles_por_barrio</key>
		<string>18289</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Monserrat</string>
		<key>comuna</key>
		<string>1</string>
		<key>poblacion_total</key>
		<string>39914</string>
		<key>hombres</key>
		<string>18940</string>
		<key>mujeres</key>
		<string>20974</string>
		<key>latitude</key>
		<string>-34.6123306</string>
		<key>longitude</key>
		<string>-58.3794389</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>156</string>
		<key>arboles_por_barrio</key>
		<string>2020</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Monte Castro</string>
		<key>comuna</key>
		<string>10</string>
		<key>poblacion_total</key>
		<string>33623</string>
		<key>hombres</key>
		<string>15493</string>
		<key>mujeres</key>
		<string>18130</string>
		<key>latitude</key>
		<string>-34.61878805</string>
		<key>longitude</key>
		<string>-58.50521096</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>220</string>
		<key>arboles_por_barrio</key>
		<string>7424</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Nueva Pompeya</string>
		<key>comuna</key>
		<string>4</string>
		<key>poblacion_total</key>
		<string>42695</string>
		<key>hombres</key>
		<string>20232</string>
		<key>mujeres</key>
		<string>22463</string>
		<key>latitude</key>
		<string>-34.65007734</string>
		<key>longitude</key>
		<string>-58.41777725</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>410</string>
		<key>arboles_por_barrio</key>
		<string>9869</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Nuñez</string>
		<key>comuna</key>
		<string>13</string>
		<key>poblacion_total</key>
		<string>51949</string>
		<key>hombres</key>
		<string>23845</string>
		<key>mujeres</key>
		<string>28104</string>
		<key>latitude</key>
		<string>-34.5432348</string>
		<key>longitude</key>
		<string>-58.46113503</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>258</string>
		<key>arboles_por_barrio</key>
		<string>7721</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Palermo</string>
		<key>comuna</key>
		<string>14</string>
		<key>poblacion_total</key>
		<string>225970</string>
		<key>hombres</key>
		<string>100581</string>
		<key>mujeres</key>
		<string>125389</string>
		<key>latitude</key>
		<string>-34.57439541</string>
		<key>longitude</key>
		<string>-58.42271602</string>
		<key>zoom</key>
		<string>12</string>
		<key>manzanas_por_barrio</key>
		<string>631</string>
		<key>arboles_por_barrio</key>
		<string>22483</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Parque Avellaneda</string>
		<key>comuna</key>
		<string>9</string>
		<key>poblacion_total</key>
		<string>53229</string>
		<key>hombres</key>
		<string>25388</string>
		<key>mujeres</key>
		<string>27841</string>
		<key>latitude</key>
		<string>-34.649714</string>
		<key>longitude</key>
		<string>-58.47737779</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>300</string>
		<key>arboles_por_barrio</key>
		<string>9961</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Parque Chacabuco</string>
		<key>comuna</key>
		<string>7</string>
		<key>poblacion_total</key>
		<string>56281</string>
		<key>hombres</key>
		<string>26155</string>
		<key>mujeres</key>
		<string>30126</string>
		<key>latitude</key>
		<string>-34.63717543</string>
		<key>longitude</key>
		<string>-58.43793034</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>312</string>
		<key>arboles_por_barrio</key>
		<string>9544</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Parque Chas</string>
		<key>comuna</key>
		<string>15</string>
		<key>poblacion_total</key>
		<string>17489</string>
		<key>hombres</key>
		<string>8248</string>
		<key>mujeres</key>
		<string>9241</string>
		<key>latitude</key>
		<string>-34.58542427</string>
		<key>longitude</key>
		<string>-58.48004565</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>154</string>
		<key>arboles_por_barrio</key>
		<string>4507</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Parque Patricios</string>
		<key>comuna</key>
		<string>4</string>
		<key>poblacion_total</key>
		<string>40985</string>
		<key>hombres</key>
		<string>18892</string>
		<key>mujeres</key>
		<string>22093</string>
		<key>latitude</key>
		<string>-34.63791795</string>
		<key>longitude</key>
		<string>-58.40063011</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>199</string>
		<key>arboles_por_barrio</key>
		<string>6742</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Paternal</string>
		<key>comuna</key>
		<string>15</string>
		<key>poblacion_total</key>
		<string>19717</string>
		<key>hombres</key>
		<string>9327</string>
		<key>mujeres</key>
		<string>10390</string>
		<key>latitude</key>
		<string>-34.59637823</string>
		<key>longitude</key>
		<string>-58.4715642</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>127</string>
		<key>arboles_por_barrio</key>
		<string>4150</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Puerto Madero</string>
		<key>comuna</key>
		<string>1</string>
		<key>poblacion_total</key>
		<string>6726</string>
		<key>hombres</key>
		<string>3611</string>
		<key>mujeres</key>
		<string>3115</string>
		<key>latitude</key>
		<string>-34.61011582</string>
		<key>longitude</key>
		<string>-58.35262667</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>64</string>
		<key>arboles_por_barrio</key>
		<string>2380</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Recoleta</string>
		<key>comuna</key>
		<string>2</string>
		<key>poblacion_total</key>
		<string>157932</string>
		<key>hombres</key>
		<string>68042</string>
		<key>mujeres</key>
		<string>89890</string>
		<key>latitude</key>
		<string>-34.58455461</string>
		<key>longitude</key>
		<string>-58.39646375</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>262</string>
		<key>arboles_por_barrio</key>
		<string>8079</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Retiro</string>
		<key>comuna</key>
		<string>1</string>
		<key>poblacion_total</key>
		<string>65413</string>
		<key>hombres</key>
		<string>31195</string>
		<key>mujeres</key>
		<string>34218</string>
		<key>latitude</key>
		<string>-34.58838847</string>
		<key>longitude</key>
		<string>-58.37229835</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>145</string>
		<key>arboles_por_barrio</key>
		<string>2499</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Saavedra</string>
		<key>comuna</key>
		<string>12</string>
		<key>poblacion_total</key>
		<string>50295</string>
		<key>hombres</key>
		<string>23402</string>
		<key>mujeres</key>
		<string>26893</string>
		<key>latitude</key>
		<string>-34.55431388</string>
		<key>longitude</key>
		<string>-58.48890309</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>425</string>
		<key>arboles_por_barrio</key>
		<string>11066</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>San Cristobal</string>
		<key>comuna</key>
		<string>3</string>
		<key>poblacion_total</key>
		<string>48611</string>
		<key>hombres</key>
		<string>22328</string>
		<key>mujeres</key>
		<string>26283</string>
		<key>latitude</key>
		<string>-34.62425754</string>
		<key>longitude</key>
		<string>-58.40179708</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>139</string>
		<key>arboles_por_barrio</key>
		<string>4835</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>San Nicolas</string>
		<key>comuna</key>
		<string>1</string>
		<key>poblacion_total</key>
		<string>29273</string>
		<key>hombres</key>
		<string>14046</string>
		<key>mujeres</key>
		<string>15227</string>
		<key>latitude</key>
		<string>-34.60380671</string>
		<key>longitude</key>
		<string>-58.38020575</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>172</string>
		<key>arboles_por_barrio</key>
		<string>989</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>San Telmo</string>
		<key>comuna</key>
		<string>1</string>
		<key>poblacion_total</key>
		<string>20453</string>
		<key>hombres</key>
		<string>9639</string>
		<key>mujeres</key>
		<string>10814</string>
		<key>latitude</key>
		<string>-34.62255947</string>
		<key>longitude</key>
		<string>-58.37155497</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>78</string>
		<key>arboles_por_barrio</key>
		<string>1383</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Velez Sarsfield</string>
		<key>comuna</key>
		<string>10</string>
		<key>poblacion_total</key>
		<string>35081</string>
		<key>hombres</key>
		<string>16164</string>
		<key>mujeres</key>
		<string>18917</string>
		<key>latitude</key>
		<string>-34.63133525</string>
		<key>longitude</key>
		<string>-58.49393498</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>202</string>
		<key>arboles_por_barrio</key>
		<string>6317</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Versalles</string>
		<key>comuna</key>
		<string>10</string>
		<key>poblacion_total</key>
		<string>13822</string>
		<key>hombres</key>
		<string>6455</string>
		<key>mujeres</key>
		<string>7367</string>
		<key>latitude</key>
		<string>-34.62917326</string>
		<key>longitude</key>
		<string>-58.52307395</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>123</string>
		<key>arboles_por_barrio</key>
		<string>4024</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Crespo</string>
		<key>comuna</key>
		<string>15</string>
		<key>poblacion_total</key>
		<string>81959</string>
		<key>hombres</key>
		<string>37202</string>
		<key>mujeres</key>
		<string>44757</string>
		<key>latitude</key>
		<string>-34.59814167</string>
		<key>longitude</key>
		<string>-58.4418492</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>286</string>
		<key>arboles_por_barrio</key>
		<string>8047</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Del Parque</string>
		<key>comuna</key>
		<string>11</string>
		<key>poblacion_total</key>
		<string>55273</string>
		<key>hombres</key>
		<string>25060</string>
		<key>mujeres</key>
		<string>30213</string>
		<key>latitude</key>
		<string>-34.60590229</string>
		<key>longitude</key>
		<string>-58.48899545</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>266</string>
		<key>arboles_por_barrio</key>
		<string>7873</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Devoto</string>
		<key>comuna</key>
		<string>11</string>
		<key>poblacion_total</key>
		<string>66521</string>
		<key>hombres</key>
		<string>31759</string>
		<key>mujeres</key>
		<string>34762</string>
		<key>latitude</key>
		<string>-34.60074167</string>
		<key>longitude</key>
		<string>-58.51410585</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>559</string>
		<key>arboles_por_barrio</key>
		<string>17538</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Lugano</string>
		<key>comuna</key>
		<string>11</string>
		<key>poblacion_total</key>
		<string>126374</string>
		<key>hombres</key>
		<string>60371</string>
		<key>mujeres</key>
		<string>66003</string>
		<key>latitude</key>
		<string>-34.61050784</string>
		<key>longitude</key>
		<string>-58.4698306</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>146</string>
		<key>arboles_por_barrio</key>
		<string>5082</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Luro</string>
		<key>comuna</key>
		<string>8</string>
		<key>poblacion_total</key>
		<string>32502</string>
		<key>hombres</key>
		<string>15194</string>
		<key>mujeres</key>
		<string>17308</string>
		<key>latitude</key>
		<string>-34.67465382</string>
		<key>longitude</key>
		<string>-58.47985715</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>577</string>
		<key>arboles_por_barrio</key>
		<string>13863</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Mitre</string>
		<key>comuna</key>
		<string>10</string>
		<key>poblacion_total</key>
		<string>34713</string>
		<key>hombres</key>
		<string>16013</string>
		<key>mujeres</key>
		<string>18700</string>
		<key>latitude</key>
		<string>-34.63504841</string>
		<key>longitude</key>
		<string>-58.50296219</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>213</string>
		<key>arboles_por_barrio</key>
		<string>6351</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Ortuzar</string>
		<key>comuna</key>
		<string>15</string>
		<key>poblacion_total</key>
		<string>21736</string>
		<key>hombres</key>
		<string>10117</string>
		<key>mujeres</key>
		<string>11619</string>
		<key>latitude</key>
		<string>-34.58154463</string>
		<key>longitude</key>
		<string>-58.46729958</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>142</string>
		<key>arboles_por_barrio</key>
		<string>4536</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Pueyrredon</string>
		<key>comuna</key>
		<string>12</string>
		<key>poblacion_total</key>
		<string>39654</string>
		<key>hombres</key>
		<string>18339</string>
		<key>mujeres</key>
		<string>21315</string>
		<key>latitude</key>
		<string>-34.58160933</string>
		<key>longitude</key>
		<string>-58.50358947</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>257</string>
		<key>arboles_por_barrio</key>
		<string>8239</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Real</string>
		<key>comuna</key>
		<string>10</string>
		<key>poblacion_total</key>
		<string>13419</string>
		<key>hombres</key>
		<string>6341</string>
		<key>mujeres</key>
		<string>7078</string>
		<key>latitude</key>
		<string>-34.61920922</string>
		<key>longitude</key>
		<string>-58.52478591</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>125</string>
		<key>arboles_por_barrio</key>
		<string>3885</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Riachuelo</string>
		<key>comuna</key>
		<string>8</string>
		<key>poblacion_total</key>
		<string>14084</string>
		<key>hombres</key>
		<string>6607</string>
		<key>mujeres</key>
		<string>7477</string>
		<key>latitude</key>
		<string>-34.6928608</string>
		<key>longitude</key>
		<string>-58.46457815</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>100</string>
		<key>arboles_por_barrio</key>
		<string>5094</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Santa Rita</string>
		<key>comuna</key>
		<string>11</string>
		<key>poblacion_total</key>
		<string>33325</string>
		<key>hombres</key>
		<string>15637</string>
		<key>mujeres</key>
		<string>17688</string>
		<key>latitude</key>
		<string>-34.61637831</string>
		<key>longitude</key>
		<string>-58.48345252</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>179</string>
		<key>arboles_por_barrio</key>
		<string>5923</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Soldati</string>
		<key>comuna</key>
		<string>8</string>
		<key>poblacion_total</key>
		<string>46779</string>
		<key>hombres</key>
		<string>22567</string>
		<key>mujeres</key>
		<string>24212</string>
		<key>latitude</key>
		<string>-34.66787763</string>
		<key>longitude</key>
		<string>-58.44797775</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>198</string>
		<key>arboles_por_barrio</key>
		<string>5856</string>
	</dict>
	<dict>
		<key>barrio</key>
		<string>Villa Urquiza</string>
		<key>comuna</key>
		<string>12</string>
		<key>poblacion_total</key>
		<string>91563</string>
		<key>hombres</key>
		<string>42179</string>
		<key>mujeres</key>
		<string>49384</string>
		<key>latitude</key>
		<string>-34.57196127</string>
		<key>longitude</key>
		<string>-58.48727484</string>
		<key>zoom</key>
		<string>13</string>
		<key>manzanas_por_barrio</key>
		<string>444</string>
		<key>arboles_por_barrio</key>
		<string>14493</string>
	</dict>
</array>
</plist>
